name: Test and Build

on:
  push:
    branches:
      - main
    paths:
      - '**/*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    #Setting up environment
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Docker Setup
        uses: docker/setup-buildx-action@v2

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8
          
      # Test the Code
      - name: Run Linting tests
        run: |
          flake8 --ignore=E501,F401 .
      
      - name: Docker Credentials
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Docker tag
        id: version
        run: |
          VERSION=v$(date +"%Y%m%d%H%M%S")
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      # Build the Docker Image
      - name: Build Docker Image
        run: |
          docker build . -t genaiyogeshabnave/demo-app:${{ env.VERSION }} 
      
      # Push the Docker Image
      - name: Push Docker Image
        run: |
          docker push genaiyogeshabnave/demo-app:${{ env.VERSION }}
      
      # Update the K8s Manifest Files
      - name: Update K8s Manifests
        run: |
          echo "Updating k8s/deployment.yaml with new image version"
          sed -i "s|image: genaiyogeshabnave/demo-app:.*|image: genaiyogeshabnave/demo-app:${{ env.VERSION }}|g" k8s/deployment.yaml
          cat k8s/deployment.yaml

      # Update Github
      - name: Commit the changes
        run: |
          git config --global user.email "iamyogeshabnave@gmail.com"
          git config --global user.name "GitHub Actions Bot"
          git add k8s/deployment.yaml
          git diff --staged --quiet || git commit -m "Update k8s deployment with new image version - ${{ env.VERSION }}"
          git remote set-url origin https://github-actions:${{ secrets.ARGOCD_TOKEN }}@github.com/YogeshAbnave/ArgoCD-GenAI-Deployment.git
          git push origin main || echo "No changes to push"
